config-version = 2
after-startup-command = []
start-at-login = true
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true
accordion-padding = 50
default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'
automatically-unhide-macos-hidden-apps = true
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
persistent-workspaces = ["1", "2", "3", "4", "5", "6", "7", "8", "9"]
on-mode-changed = []

[key-mapping]
    preset = 'qwerty'

[workspace-to-monitor-force-assignment]
    8 = 'secondary'
    9 = 'secondary'

[gaps]
    inner.horizontal = 5
    inner.vertical =   5
    outer.left =       0
    outer.bottom =     0
    outer.top =        0
    outer.right =      0

[mode.main.binding]
    cmd-m = []
    alt-slash = 'layout tiles horizontal vertical'
    alt-comma = 'layout accordion horizontal vertical'

    alt-h = 'focus left'
    alt-j = 'focus down'
    alt-k = 'focus up'
    alt-l = 'focus right'

    alt-shift-h = 'move left'
    alt-shift-j = 'move down'
    alt-shift-k = 'move up'
    alt-shift-l = 'move right'

    alt-1 = 'workspace 1'
    alt-2 = 'workspace 2'
    alt-3 = 'workspace 3'
    alt-4 = 'workspace 4'
    alt-5 = 'workspace 5'
    alt-6 = 'workspace 6'
    alt-7 = 'workspace 7'
    alt-8 = 'workspace 8'
    alt-9 = 'workspace 9'

    alt-shift-1 = 'move-node-to-workspace 1'
    alt-shift-2 = 'move-node-to-workspace 2'
    alt-shift-3 = 'move-node-to-workspace 3'
    alt-shift-4 = 'move-node-to-workspace 4'
    alt-shift-5 = 'move-node-to-workspace 5'
    alt-shift-6 = 'move-node-to-workspace 6'
    alt-shift-7 = 'move-node-to-workspace 7'
    alt-shift-8 = 'move-node-to-workspace 8'
    alt-shift-9 = 'move-node-to-workspace 9'

    alt-tab = 'workspace-back-and-forth'
    alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

    alt-cmd-semicolon = 'mode service'
    alt-r = 'mode resize'

    alt-cmd-h = 'join-with left'
    alt-cmd-j = 'join-with down'
    alt-cmd-k = 'join-with up'
    alt-cmd-l = 'join-with right'
    alt-f = 'fullscreen'


[[on-window-detected]]
    if.app-id = "com.google.Chrome"
    run = "move-node-to-workspace 1"

[[on-window-detected]]
    if.app-id = "pro.unicomm.rocket.abn"
    run = "move-node-to-workspace 9"

[[on-window-detected]]
    if.app-id = "kontur.talk"
    run = "move-node-to-workspace 3"

[mode.resize.binding]
    b = ['balance-sizes', 'mode main']
    h = 'resize smart +50'
    l = 'resize smart -50'
    enter = 'mode main'
    esc = 'mode main'

[mode.service.binding]
    esc = ['reload-config', 'mode main']
    r = ['flatten-workspace-tree', 'mode main']
    f = ['layout floating tiling', 'mode main']
    enter = ['close-all-windows-but-current', 'mode main']

